.main-nav-container {
  /* Positional */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* Color */
  background-color: #274156;
  border-bottom: 5px solid #1C6E8C;
}
.logo-and-app-name-container {
  /* Positional */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Font */
  text-decoration: none;
}
.app-name {
  /* Positional */
  margin: 0px 0px 0px 30px;
  /* Color */
  color: #FBFCFF;
  /* Font */
  font-family: "Bebas Neue";
  font-size: 36px; 
}
.logo {
  /* Positional */
  width: 75px;
  height: 75px;
  margin: 0px 0px 0px 15px;
}
.nav-links-container {
  /* Positional */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.all-bikes {
  /* Positional */
  margin: 0px 15px 0px 0px;
  /* Color */
  color: #FBFCFF;
  /* Font */
  font-family: "Bebas Neue";
  font-size: 36px;
  text-decoration: none;
}

.add-bike {
  /* Positional */
  margin: 0px 15px 0px 0px;
  /* Color */
  color: #FBFCFF;
  /* Font */
  font-family: "Bebas Neue";
  font-size: 36px;
  text-decoration: none;
}

body {
  /* Positional */
  margin: 0px;
  /* Color */
  background-color: #D0CCD0;
}

.log-out, .log-in, .sign-up {
  /* Positional */
  margin: 0px 15px 0px 0px;
  /* Color */
  color: #FBFCFF;
  /* Font */
  font-family: "Bebas Neue";
  font-size: 36px;
  text-decoration: none;
}

.submit {
  background-color: #274156;
  border: 5px solid #1C6E8C;
  color: #FBFCFF;
  font-family: "Bebas Neue";
  font-size: 24px;
}

.cancel, .delete {
  background-color: #274156;
  border: 5px solid #1C6E8C;
  color: #FBFCFF;
  font-family: "Bebas Neue";
  font-size: 24px;
}